.accordion {    
    & > div ~ div {
        border-top: 1px solid rgb(229, 229, 229);
    }

    &-container {
        @extend %container-text;
        margin-top: 5em;
    }

    &-item {
        padding: 1.25rem 0;
    }

    &-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
    }

    &-content {
        display: none;
        list-style: disc;
        color: rgb(82, 82, 82);
        margin: 0;

        &.active {
            display: block;
            margin-top: .75rem;
        }
    }

    &-toggle {
        transition: transform 0.3s ease;
        &.rotate {
            transform: rotate(-180deg);
        }
    }
}