.hero {
    background-image: linear-gradient(160deg, rgba(0,0,0,0) 0%, #000 100%), url(https://wallpapercave.com/wp/wp7632525.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;

    &-content {
        height: inherit;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h1 {
            color: #fff;
            font-size: 90px;
            font-weight: 600;
            letter-spacing: -1px;

            @media screen and (max-width: 1024px) {
                font-size: 75px;
            }

            @media screen and (max-width: 767px) {
                font-size: 45px;
            }
        }

        p {
            color: #fff;
            font-size: 21px;
            line-height: .3em;
            letter-spacing: .5px;

            @media screen and (max-width: 767px) {
                line-height: 1.2em;
            }
        }
    }
}