
$navbar-height: 90px;
$navbar-scrolled-height: 70px;
$navbar-transition-duration: .4s;

.navbar {    
    position: fixed;
    top: 0;
    width: 100%;
    height: $navbar-height;
    background-color: red;

    z-index: 100;

    transition: height $navbar-transition-duration ease;
    &-content {
        @extend %container;
        height: inherit;
        display: flex;
        justify-content: space-between;
    }

    &-logo {
        font-size: 28px;
    }

    &-left, &-right {
        height: inherit;
        display: flex;
        align-items: center;
    }

    &-right ul {
        height: inherit;
        display: flex;
        gap: 20px;

        li > a {
            text-transform: uppercase;
            font-size: 15px;
            font-weight: 500;
            height: $navbar-height;
            display: flex;
            align-items: center;
            
            transition: height $navbar-transition-duration ease;
            span {
                position: relative;
            }

            span::before {
                content: "";
                position: absolute;
                bottom: -5px;
                left: 0;
                width: 0;
                height: 2px;
                background-color: #000;
                transition: width 0.4s ease;
            }

            &:hover span::before {
                width: 100%;
            }
        }

        @media screen and (max-width: 1024px) {
            display: none;
        }
    }

    &-menu {
        display: none;
        height: $navbar-height;
        @media screen and (max-width: 1024px) {
            display: flex;
            align-items: center;
            cursor: pointer;
            i {
                font-size: 28px;
            }
        }
    }

    &.scrolled {
        box-shadow: 0 0 12px rgba(0, 0, 0, .09);
        height: $navbar-scrolled-height;

        .navbar-right ul li > a {
            height: $navbar-scrolled-height;
        }
    }

    &-skip {
        height: $navbar-height;
    }
}