.realisation {

    background-color: #fff;
    width: 370px;
    align-self: flex-start;
    
    &-list {
        margin-top: 2em;
        margin-bottom: 100px;
        display: flex;
        gap: 1.9em;
        flex-wrap: wrap;

        @extend %container;
    }

    &-image {
        height: 250px;
        overflow: hidden;

        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;

            transition: -webkit-filter .4s ease;
        }
        
        &:hover img{
            -webkit-filter: brightness(70%);
        }
    }

    &-subtitle {
        font-size: .778em;
        color: #a7a7a7
    }

    &-title {
        padding-top: .5em !important;
        color: #222;
        font-size: 1.57em;
        line-height: 1.3;
        word-wrap: break-word;
        text-transform: uppercase;

        a:hover {
            text-decoration: underline;
        }
    }

    &-desc > p {
        margin: 0;
        padding: .85em 0;
        color: rgb(85,85,85);
        word-wrap: break-word;
    }

    &-content {
        line-height: 1.7;
        background-color: #fff;
        text-align: center;
        padding: 40px;

        > h2 {
            padding: 1.5em 0 .5em;
            margin: 0;
        }
    }
}
