
.scroll-button {
    outline: none !important;
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 100px;
    right: 40px;
    
    border-radius: 20px;
    text-align: center;
    line-height: 38px;
    opacity: 0;
    visibility: hidden;

    background-color: rgba(0,0,0,0.1);
    color: rgba(255,255,255,1);
    font-size: 22px;

    transition: background-color 0.3s, color 0.3s, opacity 0.5s, visibility 0s 0.5s;

    z-index: 50;

    &.show {
        opacity: 1;
        visibility: visible;
        transition: background-color 0.3s, color 0.3s, opacity 0.5s;
    }

    &:hover {
        background-color: #5e5e5e;
        color: rgba(255,255,255,1);
    }
}