

section.section {
    padding: 12px 45px 27px 45px;

    &.background {
        background-color: #eaeaea;
    }
}

.section {
    &-content {
        @extend %container;
    }

    &-title {
        text-align: center;
        margin: 40px 0px 40px 0px; // margin: 40px 0px 8px 0px;
        padding: 15px;

        h2 {
            font-size: 45px;
            font-weight: 700;
            text-transform: uppercase;
            line-height: 1.8em;
            letter-spacing: 2px;
            color: rgb(50,50,50);
        }
    }

    &-btn {
        margin-top: 71px;
        margin-bottom: 126px - 27px;
        display: flex;
        justify-content: center;
    }

    &.other {
        .section-content {
            max-width: 1090px;
            padding: 0 60px 60px 60px;
        }
        
        .section-title {
            text-align: left;
            padding: 0;
            margin-bottom: 30px;

            h2 {
                font-size: 2em;
                letter-spacing: normal;
                font-weight: bold;
                line-height: 1.1;
            }
        }

        @media screen and (max-width: 570px) {
            .section-content {
                padding: 0 10px;
            }           
        }
    }
}